body{
    background-color: rgb(248, 245, 242);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin-top: 10px;
}

.nav-item {
    color: black;
}
h1{
    color: rgb(237, 228, 224);
    background-color: rgb(203, 125, 94);
    font-size: 60px;
    text-align: center;
    font-weight:500;
    padding: 100px;
    margin-top: 02%;

}

ul{
}
.content1{
    padding: 20px;
}

.content2{
    border-radius: 8px;
}

.image-gallery {

    display: flex;
    justify-content: center;
}

.image-gallery-item{
    margin: 0 10px;

}

.description {
    background-color: rgb(203, 125, 94);
    color: rgb(249, 246, 244);
    text-align: center;
    margin: 38px;
    max-width: 2000px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 575.98px) {
    .image-gallery {
        flex-direction: column;
        align-items: center;}

    .image-gallery-item {
        margin: 10px 0;
    }

    }
}

@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (max-width: 1399.98px) { ... }